.tarefas{
    margin-top: 30px;

}

.tarefas li:hover{
    background-color: rgb(1, 0, 0, 0.5);
}


.tarefas li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: all 600ms;
}

.tarefas li .edit{
    margin-right: 20px;
    color: aqua;
    cursor: pointer;
}

.tarefas li .delet{
    color: red;
    cursor: pointer;
}